.container{
	align-items: center;
	margin-left: auto;
	margin-right:auto;
	width: 1200px;
	max-width: 90vw;
}
.navbar{
	display: flex;
	background-color: rgb(0,0,180);
	flex-direction: row;
	padding-left: 15px;
	font-size: 18px;
	font-weight: bold;
	color: white;
}

.navbar-item{
	margin:5px;
	padding-right: 5px;
	padding-left: 5px;
	align-content: center;
}

.navbar-item:hover{
	color: black;
	background-color: rgb(255,255,255,.7);
}

.navbar a:link, .navbar a:visited{
	text-decoration: none;
	color: inherit;
}

/*
	elements for anime list page 
*/

.anime-list{
	display: grid;
	grid-template-columns: 10% 80% auto;
}

.anime-list-test{
	display: grid;
	grid-column-gap: 1rem;
	grid-template-columns: 100px auto 100px;
}

.list-control-container{
	display: flex;
}

.list-header, .list-item{
	background-color: rgb(200,200,200);
	padding: 1rem 0rem 1rem 1rem;
	margin:0px;
}

.list-item{
	background-color: rgb(230,230,230);
}

.list-title{
	max-width:500px;
}

/*
	elements in anime details page (Only for 'Title One')
*/

#info-s2{
	display: none
}

#info-s3{
	display: none
}

.character-container{
	display: flex;
	flex-wrap: wrap;
}

.character-slot{
	border:5px solid black;
	padding: 3px;
	margin: 1rem;
	max-height: 100px;
}

.character-img{
	max-width: 100px;
}

.character-name{
	text-align: center;
}
/*
	elements in suggest anime page
*/
